body {
	background-color: lightblue;
}

input {
	margin-bottom: 0.1em;
	font-size: 1.5em;
}

button {
	font-size: 2em;
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
	border-radius: 0.3em;
	color: green;
	font-weight: bold;
}

h3 {
	font-size: 2em;
}
